@using GameStore.Resources
@using GameStore.WebUI.ViewModels
@model IEnumerable<GameStore.WebUI.ViewModels.GenreViewModel>

@{
    ViewBag.Title = GlobalRes.Genres;
}
<div class="well clearfix">
    <div class="col-sm-12">
        <h3>@ViewBag.Title</h3>
        @if (Model == null || !Model.Any())
        {
            <h4>@GlobalRes.ThereAreNoGenres</h4>
        }
        else
        {
            <table class="table table-striped">
                <caption></caption>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.First().Name)</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (GenreViewModel genre in Model)
                {
                    <tr>
                        <td>@genre.Name</td>
                        <td>
                            @if (!genre.IsReadonly)
                            {
                                <div class="pull-right">
                                    @Html.ActionLink(GlobalRes.Edit, "Update", "Genre", new { genreId = @genre.GenreId }, new { @class = "btn btn-primary" })
                                @{ string modalId = "modal-remove-" + genre.GenreId; }
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalId">@GlobalRes.Remove</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">@GlobalRes.Warning</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @GlobalRes.RemoveGenreConfirmation
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.Cancel</button>
                                                    @Html.ActionLink(GlobalRes.Remove, "Remove", "Genre", new { genreId = genre.GenreId }, new { @class = "btn btn-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        <p>
            @Html.ActionLink(GlobalRes.CreateNew, "New", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>