@using GameStore.Core.Enums
@using GameStore.WebUI.ViewModels
@model GameStore.WebUI.ViewModels.OrderHistoryViewModel

@{
    ViewBag.Title = "Orders history";
}

<div class="well">
    @using (Html.BeginForm("History", "Order", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Pick a date for orders to display:</legend>

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>


@if (Model.Orders != null && Model.Orders.Any())
{
    <h3>@ViewBag.Title</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.LabelFor(x => Model.Orders.First().OrderDate)</th>
                <th>@Html.LabelFor(x => Model.Orders.First().OrderStatus)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (OrderViewModel orderViewModel in Model.Orders)
            {
                <tr>
                    <td>@Html.DisplayFor(o => orderViewModel.OrderDate)</td>
                    <td>@Html.DisplayFor(o => orderViewModel.OrderStatus)</td>
                    <td>
                        @if (orderViewModel.OrderStatus == OrderStatus.Payed)
                        {
                            @Html.ActionLink("Make Shipped", "MakeShipped", "Order",
                            new {@orderId = orderViewModel.OrderId, @dateFrom = Model.DateFrom, @dateTo = Model.DateTo},
                            new {@class = "btn btn-default"})
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}