@model GameStore.WebUI.ViewModels.OrderHistoryViewModel

@{
    ViewBag.Title = "Orders history";
}

<div class="well">
    @using (Html.BeginForm("History", "Order", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Pick a date for orders to display:</legend>

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>


@if (Model.Orders != null && Model.Orders.Any())
    {
    <h3>@ViewBag.Title</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Is Payed</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var orderViewModel in Model.Orders)
                {
                    <tr>
                        <td>@Html.DisplayFor(o => orderViewModel.OrderDate)</td>
                        <td>@Html.DisplayFor(o => orderViewModel.IsPayed)</td>
                    </tr>
                }
            </tbody>
        </table>
    
    }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}