@model GameStore.WebUI.ViewModels.OrdersFilters.OrderDateFilterViewModel

@{
    ViewBag.Title = "Orders history";
}

<h2>@ViewBag.Title</h2>

<div class="well">
    @using (Html.BeginForm("OrdersByHistory", "Order", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Pick a date for orders to display:</legend>

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}