@using GameStore.Resources
@model GameStore.WebUI.ViewModels.Security.LoginViewModel

@{
    ViewBag.Title = GlobalRes.LoggingIn;
}

<div class="col-sm-6 col-sm-offset-2 clearfix">
    <div class="well">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            
            <fieldset>
                <legend>@ViewBag.Title</legend>

                @Html.EditorForModel()

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">@GlobalRes.LogIn</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>