@model GameStore.WebUI.ViewModels.Localization.PublisherLocalizationViewModel

@Html.Hidden((string)String.Format("PublisherLocalizations[{0}].LanguageId", ViewBag.LocalizationNumber), Model.LanguageId)
@Html.Hidden((string)String.Format("PublisherLocalizations[{0}].Language.Code", ViewBag.LocalizationNumber), Model.Language.Code)
@Html.Hidden((string)String.Format("PublisherLocalizations[{0}].Language.Name", ViewBag.LocalizationNumber), Model.Language.Name)
@Html.Hidden((string)String.Format("PublisherLocalizations[{0}].Language.LanguageId", ViewBag.LocalizationNumber), Model.Language.LanguageId)
@Html.Hidden((string)String.Format("PublisherLocalizations[{0}].PublisherLocalizationId", ViewBag.LocalizationNumber), Model.PublisherLocalizationId)

<div class="form-group">
    @Html.LabelFor(model => model.CompanyName, new { @class = "col-lg-2 control-label" })
    <div class="col-lg-10">
        @Html.TextBox((string)String.Format("PublisherLocalizations[{0}].CompanyName", ViewBag.LocalizationNumber), Model.CompanyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CompanyName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, new { @class = "col-lg-2 control-label" })
    <div class="col-lg-10">
        @Html.TextArea((string)String.Format("PublisherLocalizations[{0}].Description", ViewBag.LocalizationNumber), Model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
</div>