@using GameStore.Resources
@using GameStore.WebUI.ViewModels
@model IEnumerable<GameStore.WebUI.ViewModels.PublisherViewModel>

@{
    ViewBag.Title = GlobalRes.Publishers;
}
<div class="well clearfix">
    <div class="col-sm-12">
        <h3>@ViewBag.Title</h3>
        @if (Model == null || !Model.Any())
        {
            <h4>@GlobalRes.ThereAreNoPublishers </h4>
        }
        else
        {
            <table class="table table-striped">
                <caption></caption>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.First().CompanyName)</th>
                        <th>@Html.DisplayNameFor(m => m.First().HomePage)</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (PublisherViewModel publisher in Model)
                {
                    <tr>
                        <td>@publisher.CompanyName</td>
                        <td>@publisher.HomePage</td>
                        <td>@Html.ActionLink(String.Format("{0} »", GlobalRes.ViewDetails),
                        "Details", 
                        new {key = @publisher.CompanyName}, 
                        new {@class = "btn btn-info pull-right"})
                        </td>
                    </tr>
                }
            </table>
        }

        @if (User != null && User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink(GlobalRes.CreateNew, "New", null, new {@class = "btn btn-primary"})
            </p>
        }
    </div>
</div>