﻿@model GameStore.WebUI.ViewModels.PublisherViewModel

@{
    ViewBag.Title = "New publisher";
}

<h2>New</h2>

<div class="well">
    @using (Html.BeginForm("New", "Publisher", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>New publisher</legend>

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    @Html.ActionLink("To List", "Get", "Game", null, new {@class = "btn btn-default"})
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}