@model GameStore.WebUI.ViewModels.Payment.PaymentViewModel

@using (Html.BeginForm("Get", "Payment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.PaymentType)

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.BankInfo.FullName, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.BankInfo.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.BankInfo.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.BankInfo.Credentials, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.BankInfo.Credentials, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.BankInfo.Credentials)
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                @Html.ActionLink(GlobalRes.BackToOrder, "Get", "Order", null, new { @class = "btn btn-default" })
                <button type="submit" class="btn btn-primary">@GlobalRes.Submit</button>
            </div>
        </div>
    </fieldset>
}