@using GameStore.WebUI.ViewModels.Payment
@model GameStore.WebUI.ViewModels.Payment.PaymentViewModel

@using (Html.BeginForm("Get", "Payment", FormMethod.Post, new {@class = "form-horizontal"}))
{
    PaymentInfoViewModel a = Model.PaymentInfoViewModel;
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>    
        
        @Html.ValidationSummary()
        
        @Html.HiddenFor(m => m.PaymentType)
        @Html.HiddenFor(m => m.PaymentInfoViewModel.VisaInfo.Token)
        @Html.HiddenFor(m => m.PaymentInfoViewModel.VisaInfo.Payee)

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.FullName, new {@class = "col-lg-2 control-label"})
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.FullName, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.CardNumber, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.CardNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.CardNumber)
        </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.Cvv, new {@class = "col-lg-2 control-label"})
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.Cvv, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.Cvv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.ExpirationYear, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.ExpirationYear, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.ExpirationYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.ExpirationMonth, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.ExpirationMonth, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.ExpirationMonth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.PaymentPurpose, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.PaymentPurpose, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.PaymentPurpose)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.UserEmail, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.UserEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.UserEmail)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentInfoViewModel.VisaInfo.UserPhoneNumber, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.PaymentInfoViewModel.VisaInfo.UserPhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentInfoViewModel.VisaInfo.UserPhoneNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                @Html.ActionLink(GlobalRes.BackToOrder, "Get", "Order", null, new {@class = "btn btn-default"})
                <button type="submit" class="btn btn-primary">@GlobalRes.Submit</button>
            </div>
        </div>
    </fieldset>
}