@using GameStore.WebUI.ViewModels.Security
@model IEnumerable<GameStore.WebUI.ViewModels.Security.RoleViewModel>

@{
    ViewBag.Title = GlobalRes.Roles;
}
<div class="well clearfix">
    <div class="col-sm-12">
        <h3>@ViewBag.Title</h3>
        @if (Model == null || !Model.Any())
        {
            <h4>@GlobalRes.ThereAreNoRoles </h4>
        }
        else
        {
            <table class="table table-striped">
                <caption></caption>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.First().RoleName)</th>
                        <th>@Html.DisplayNameFor(m => m.First().Description)</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (RoleViewModel role in Model)
                {
                    <tr>
                        <td>@role.RoleName</td>
                        <td>@role.Description</td>
                        <td>
                            @if (!role.IsReadonly)
                            {
                                <div class="pull-right">
                                    @Html.ActionLink(GlobalRes.Edit, "Update", "Role", new { roleId = @role.RoleId }, new { @class = "btn btn-primary" })
                                @{ string modalId = "modal-remove-" + role.RoleId; }
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalId">@GlobalRes.Remove</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">@GlobalRes.Warning</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @GlobalRes.RemovingRoleConfirmation
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.Cancel</button>
                                                    @Html.ActionLink(GlobalRes.Remove, "Remove", "Role", new { roleId = role.RoleId }, new { @class = "btn btn-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        <p>
            @Html.ActionLink(GlobalRes.CreateNew, "New", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>