@model GameStore.WebUI.Security.RoleViewModel

@{
    ViewBag.Title = "Edit role";
}

<h2>@ViewBag.Title</h2>

<div class="well">
    @using (Html.BeginForm("Update", "Role", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    @Html.ActionLink("To List", "Get", "Role", null, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}