@using GameStore.BLL.Models
@model IEnumerable<GameStore.BLL.Models.CommentModel>

@{
    ViewBag.Title = "Comments";
}

<div class="well">
    @foreach (var comment in Model)
    {
        <div class="form-group pull-right">
            <button class="btn btn-default" onclick=" reply('@comment.CommentId', '@comment.Name') ">Reply</button>
        </div>
        <h5 class="form-group">
            @comment.Name
        </h5>
        <div class="form-group">
            @comment.Body
        </div>
        <hr>
    }
</div>

<div class="well">
    @Html.Partial("_AddComment", new CommentModel())
</div>

@section Scripts
{
    <script>
        function reply(parentId, name)
        {
            $("#ParentCommentId").val(parentId);
            $("#Body").val(name + ", " + $("#Body").val());
        }
    </script>
}