﻿@using GameStore
@using GameStore.WebUI.Helpers
@using MvcCheckBoxList.Model
@model GameStore.WebUI.ViewModels.GamesFiltersViewModels.GamesFilterViewModel
<div class="form-group pull-left col-lg-offset-1">
    <div class="row well well-sm">
        <div class="col-lg-6">
            @Html.LabelFor(m => m.PriceFrom)
        </div>
        <div class="col-lg-6">
            @Html.LabelFor(m => m.PriceTo)
        </div>
        <div class="col-lg-6">
            @Html.TextBoxFor(model => model.PriceFrom,
                new { @class = "form-control", type = "text", placeholder = Html.DisplayNameFor(x => x.PriceFrom) })
        </div>
        <div class="col-lg-6">
            @Html.TextBoxFor(model => model.PriceTo,
                new { @class = "form-control", type = "text", placeholder = Html.DisplayNameFor(x => x.PriceTo) })
        </div>
        <div class="col-lg-12">
            @Html.ValidationMessageFor(x => x.PriceFrom)
            @Html.ValidationMessageFor(x => x.PriceTo)
        </div>
    </div>

    <div class="row well well-sm">
        <div class="col-lg-12 ">
            @Html.LabelFor(m => m.GameNamePart)
        </div>
        <div class="col-lg-12">
            @Html.TextBoxFor(model => model.GameNamePart,
                new { @class = "form-control", type = "text", placeholder = Html.DisplayNameFor(x => x.GameNamePart) })
            @Html.ValidationMessageFor(x => x.GameNamePart)
        </div>
    </div>

    <div class="row well well-sm">
        <div class="col-lg-12 ">
            @Html.LabelFor(m => m.DatePeriod)
        </div>
        <div class="col-lg-12">
            @Html.EnumRadioButtonListFor(model => model.DatePeriod, new { @class = "form-control" })
        </div>
    </div>

    <div class="row well well-sm">
        <div class="col-lg-12 ">
            @Html.LabelFor(m => m.SortCondition)
        </div>
        <div class="col-lg-12">
            @Html.EnumRadioButtonListFor(model => model.SortCondition, new { @class = "form-control" })
        </div>
    </div>

    <div class="row well well-sm">
        <div class="col-lg-12">
            @Html.LabelFor(model => model.Genres)
        </div>
        <div class="col-lg-12">
            @Html.CheckBoxListFor(model => model.Genres,
                model => model.AvailableGenres,
                genre => genre.GenreId,
                genre => genre.Name,
                model => model.SelectedGenres,
                Position.Vertical)
        </div>
    </div>

    <div class="row well well-sm">
        <div class="col-lg-12">
            @Html.LabelFor(model => model.Publishers)
        </div>
        <div class="col-lg-12">
            @Html.CheckBoxListFor(model => model.Publishers,
                model => model.AvailablePublishers,
                publisher => publisher.PublisherId,
                publisher => publisher.CompanyName,
                model => model.SelectedPublishers,
                Position.Vertical)
        </div>
    </div>
    <div class="row well well-sm">
        <div class="col-lg-12">
            @Html.LabelFor(model => model.PlatformTypes)
        </div>
        <div class="col-lg-12">
            @Html.CheckBoxListFor(model => model.PlatformTypes,
                model => model.AvailablePlatformTypes,
                genre => genre.PlatformTypeId,
                genre => genre.Type,
                model => model.SelectedPlatformTypes,
                Position.Vertical)
        </div>
    </div>
</div>