@model GameStore.WebUI.ViewModels.Localization.GenreLocalizationViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Language.Name, new { @class = "col-lg-2 control-label" })
    <div class="col-lg-10">
        @Html.DisplayFor(model => model.Language.Name, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "col-lg-2 control-label" })
    <div class="col-lg-10">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>