﻿@model GameStore.WebUI.Security.RegistrationViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Username, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Password, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PasswordConfirm, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PasswordConfirm)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.LastName, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
</div>