﻿@model GameStore.WebUI.ViewModels.GameViewModel
@{
    ViewBag.Title = "Details";
}
<div class="well clearfix">
    <fieldset>
        <legend>@Html.DisplayFor(model => model.Name)</legend>
        <p class="clearfix">
            <div class="col-lg-2">
                <b>@Html.DisplayNameFor(model => model.Name)</b>
            </div>
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Name)
            </div>
        </p>
        <p class="clearfix">
            <div class="col-lg-2">
                <b>@Html.DisplayNameFor(model => model.Description)</b>
            </div>
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Description)
            </div>
        </p>
        <p class="clearfix">
            <div class="col-lg-2">
                <b>@Html.DisplayNameFor(model => model.Price)</b>
            </div>
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Price)
            </div>
        </p>
        <p class="clearfix">
            <div class="col-lg-2">
                <b>@Html.DisplayNameFor(model => model.UnitsInStock)</b>
            </div>
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.UnitsInStock)
            </div>
        </p>
        <p class="clearfix">
            <div class="col-lg-2">
                <b>@Html.DisplayNameFor(model => model.Discontinued)</b>
            </div>
            <div class="col-lg-10">
                @Html.DisplayFor(model => model.Discontinued)
            </div>
        </p>
        <p class="clearfix">
            <div class="col-lg-2">
                <b>@Html.DisplayNameFor(model => model.Publisher.CompanyName)</b>
            </div>
            <div class="col-lg-10">
                @Html.ActionLink((string)Model.Publisher.CompanyName, "Details", "Publisher", new {key = Model.Publisher.CompanyName}, null)
            </div>
        </p>
        <p class="clearfix">
            <div class="col-lg-10">
                @Html.ActionLink("Download", "Download", "Game", new { key = Model.Key }, new { @class = "btn btn-success" })
                @Html.ActionLink("Comments", "Comments", "Comment", new { key = Model.Key }, new { @class = "btn btn-info" })
            </div>
        </p>
    </fieldset>
    <hr />
</div>