@using BootstrapSupport
@model GameStore.WebUI.ViewModels.GameIndexViewModel

@{
    ViewBag.Title = "Games";
}
<div class="clearfix">
    <div>
        <div class="col-lg-3">
            @Html.Partial("_GamesFilterPartial", Model.Filter)
        </div>

        @if (Model.Games == null || !Model.Games.Any())
        {
            <div class="col-lg-9">
                <br>
                <h3>No items match your request. </h3>

                <p>
                    @Html.ActionLink("Create New", "New", null, new {@class = "btn btn-primary"})
                </p>
            </div>
        }
        else
        {
            <div class="col-lg-9">
                <div class="form-group">
                    <h4>Games</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => Model.Games.First().Name)
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Games.First().Price)
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Games.First().UnitsInStock)
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Games.First().PublicationDate)
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var game in Model.Games)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(p => game.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(p => game.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(p => game.UnitsInStock)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(p => game.PublicationDate)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                Action
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    @Html.TryPartial("_actions", game)
                                                    <li>@Html.ActionLink("Edit", "Update", new {key = game.Key})</li>
                                                    <li>@Html.ActionLink("Details", "Details", new {key = game.Key})</li>
                                                    <li>@Html.ActionLink("Comments", "Comments", "Comment", new {key = game.Key}, null)</li>
                                                    <li>@Html.ActionLink("Add to Basket", "Add", "Basket", new {key = game.Key}, null)</li>
                                                    <li class="divider"></li>
                                                    <li>@Html.ActionLink("Delete", "Remove", new {key = game.Key})</li>
                                                }
                                            </ul>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <p>
                        @Html.ActionLink("Create New", "New", null, new {@class = "btn btn-primary"})
                    </p>
                </div>
            </div>
        }
    </div>
</div>