﻿@model GameStore.WebUI.ViewModels.GameViewModel
@{
    ViewBag.Title = "Remove";
}
<div class="well clearfix">
    @using (Html.BeginForm("Remove", "Game", FormMethod.Post))
    {
        <fieldset>
            @Html.HiddenFor(model => model.GameId)
            @Html.HiddenFor(model => model.Key)
            <legend>@Html.DisplayFor(model => model.Name)</legend>
            <p class="clearfix">
                <div class="col-lg-2">
                    <b>@Html.DisplayNameFor(model => model.Name)</b>
                </div>
                <div class="col-lg-10">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </p>
            <p class="clearfix">
                <div class="col-lg-2">
                    <b>@Html.DisplayNameFor(model => model.Description)</b>
                </div>
                <div class="col-lg-10">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </p>
            <p class="clearfix">
                <div class="col-lg-2">
                    <b>@Html.DisplayNameFor(model => model.Price)</b>
                </div>
                <div class="col-lg-10">
                    @Html.DisplayFor(model => model.Price)
                </div>
            </p>
            <p class="clearfix">
                <div class="col-lg-2">
                    <b>@Html.DisplayNameFor(model => model.UnitsInStock)</b>
                </div>
                <div class="col-lg-10">
                    @Html.DisplayFor(model => model.UnitsInStock)
                </div>
            </p>
            <p class="clearfix">
                <div class="col-lg-2">
                    <b>@Html.DisplayNameFor(model => model.Discontinued)</b>
                </div>
                <div class="col-lg-10">
                    @Html.DisplayFor(model => model.Discontinued)
                </div>
            </p>
            <p class="clearfix">
                <div class="col-lg-2">
                    <b>@Html.DisplayNameFor(model => model.Publisher.CompanyName)</b>
                </div>
                <div class="col-lg-10">
                    @Html.ActionLink((string) Model.Publisher.CompanyName, "Details", "Publisher", new {key = Model.Publisher.CompanyName}, null)
                </div>
            </p>
            <p class="clearfix">
                <div class="col-lg-10">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </div>
            </p>
        </fieldset>
        <hr />
    }
</div>