@model GameStore.WebUI.ViewModels.GameViewModel

@{
    ViewBag.Title = "Edit game";
}

<h2>@ViewBag.Title</h2>

<div class="well">
    @using (Html.BeginForm("Update", "Game", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        
        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.ValidationSummary(true)
            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    @Html.ActionLink("To List", "Get", "Game", null, new {@class = "btn btn-default"})
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}