@using System.Web.Optimization
@using BootstrapSupport
@using GameStore.WebUI.Helpers.Layout
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet" />
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">GameStore</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Get", "Game")">
                            Games
                            <span class="badge">@Html.Raw((new LayoutHelper()).GetGamesCount())</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Get", "Publisher")">Publishers </a>
                    </li>
                    <li>
                        @Html.ActionLink("Basket", "Get", "Basket")
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container clearfix">
        @Html.Partial("_alerts")
        @Html.Partial("_validationSummary")
        @RenderBody() 
        <hr>
        <footer class="clearfix">
            <p>&copy; GameStore @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)
</body>
</html>
